.search-form {
  width: 40%;
  background-color: #fff;
  margin-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.search-form__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-bottom: 2px solid #00bbec;
}

.search-form__top > input {
  background-color: #fff;
  border: 1px solid #00bbec;
  border-radius: 3px;
  padding: 0.25rem 0.75rem;
}

.search-form__top > input:focus-visible {
  outline: none;
}

.search-form__top > div {
  width: 1.5rem;
}

.search-form__bot {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1.5rem;
}

.search-form__bot button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: none;
}

.btn-reset {
  background-color: #fff;
}

.btn-search {
  color: #fff;
  background-color: #00bbec;
}
